$modal-color: #ffffff;
$button-color: #5e97ba;
$button-font-color: #ffffff;
$label-font-color: #000000;
$warning-color: #ff0000;

@mixin make-border-box($padding-value) {
    padding: $padding-value;
    box-sizing: border-box;
}

@mixin make-bold-font($size, $color) {
    color: $color;
    font-size: $size;
    font-weight: bold;
}

@mixin raduis-without-border($radius) {
    border: none;
    border-radius: $radius;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    overflow: hidden;
    overflow-y: auto;
    z-index: 999;

    .modal-wrapper {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        min-height: 100%;

        .modal-content {
            position: relative;
            margin: 20px;
            width: 100%;
            max-width: 500px;
            border-radius: 20px;
            background-color: $modal-color;
            padding: 20px;

            .edit-form {

                input {
                    height: 40px;
                    width: 100%;
                    border: 2px solid #4f4f4f;
                    border-radius: 10px;
                    @include make-border-box(10px);
                }
            }

            .warning {
                margin-top: 10px;
                @include make-bold-font(15px, $warning-color);
            }
        }
    }
}