$font-color: #ffffff;
$shadow-color: #3f3f3f;

@mixin make-border-box($padding-value) {
    padding: $padding-value;
    box-sizing: border-box;
}

@mixin make-bold-font($size) {
    color: $font-color;
    font-size: $size;
    font-weight: bold;
}

@mixin raduis-without-border($radius) {
    border: none;
    border-radius: $radius;
}

.board-link {
    text-decoration: none;
    height: 90px;
    align-self: start;
    margin-bottom: 30px;
    margin-left: 30px;

    .task-board {
        width: 320px;
        height: 100%;
        box-shadow: 5px 5px 5px $shadow-color;
        overflow: hidden;
        @include make-bold-font(20px);
        @include make-border-box(12px 20px);
        @include raduis-without-border(10px);
    }
}